#grid
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1rem;
}

#carousel
{
    grid-column :span 7;
}
#customizable-area
{
    grid-column: span 5;
    grid-row: span 2;
}

#product-name
{
    padding: 1rem;
}

.carousel-margin
{
    margin-left: 2rem;
    margin-right: 2rem;
}

.customize-region
{
    margin-top: 3rem;
}

.variation-title
{
    color: black;
    font-weight: bold;
}

#realted-products-area
{
    margin-top: 3rem;
    grid-column: span 6;
}

#product-info
{
    grid-column: span 6;
    margin-top: 2rem;
}

#product-info-table
{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

#description
{
    grid-column: span 6;
    margin-top: 2rem;
}

#description-area
{
    margin-left: 1.5rem;
    margin-top: 1rem;
}

#ratings
{
    grid-column: span 12;
    margin-top: 3rem;
}

#ratings-content
{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}