#grid
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

#carousel
{
    grid-column :span 5;
}
#customizable-area
{
    grid-column: span 5;
}

#product-name
{
    padding: 1rem;
}

.carousel-margin
{
    margin-left: 2rem;
    margin-right: 2rem;
}

.customize-region
{
    margin-top: 3rem;
}

.variation-title
{
    color: black;
    font-weight: bold;
}